<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/adminBilling.js"></script>
  </head>
  <body>
    <div class="container" style="font-size:small">
      <div class="header">
        <nav>
              <ul class="nav nav-pills pull-right">
     <li role="presentation" ><a href="showAdmin">Dashboard</a></li>
              <li role="presentation" ><a href="showAdminMachines">Machines</a></li>
            <li role="presentation" ><a href="showAdminOrder">Orders</a></li>
            <li role="presentation"><a href="showAdminCustomers">Customer</a></li>
            <li role="presentation"><a href="showAdminCSP">CSP</a></li>
                          <li role="presentation"><a href="showAdminOffer">Offers/Plans</a></li>
                   <li role="presentation" class="active"><a href="showAdminBilling">Billing</a></li>
				    <li role="presentation" ><a href="showAdminComplaints">Complaints</a></li>
                 <li role="presentation" ><a href="showAdminProfile">Profile</a></li>
				<li role="presentation" ><a href="/">Logout</a></li>
          </ul>
        </nav>
        <h4 class="text-muted">Admin Dashboard</h4>
      </div>

      <div class="jumbotron">
          <button type="button" class="btn btn-success generateBill">Generate Bills for Customer</button>
          <div class="generateBillSuccess"> Bill generated successfully!</div>
        <h2> <b>Cloud Aggregator</b></h2>
            <h3>Customer Revenue</h3>

          <table class="table table-bordered">
            <thead class = "table-dark">
            <tr>
                <th>Bill Id</th>
                <th>Customer Id</th>
                <th>Month</th>
                <th>Year</th>
                <th>Amount</th>
                <th>Is paid</th>
            </tr>
            </thead>
            <tbody class="bills">
            </tbody>
        </table>

<div class="panel panel-danger">
                <div class="panel-heading" ><h4> </h4> </div>

   </div>



            <h3>CSP Bills</h3>

          <table class="table table-bordered">
            <thead class = "table-dark">
            <tr>
                <th>Bill Id</th>
                <th>CSP Id</th>
                <th>Month</th>
                <th>Year</th>
                <th>Amount</th>
                <th>Is paid</th>
            </tr>
            </thead>
            <tbody class="bills1">
            </tbody>
        </table>

<div style="padding-top: 15px">

   <div class="panel panel-danger">
                <div class="panel-heading" ><h4> </h4> </div>

   </div>
</div>





      <footer class="footer">
        <p>&copy; CMPE 226</p>
      </footer>
    </div>
  </body>
</html>