<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Account Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/cspProfile.js"></script>
  </head>
  <body>
    <div class="container" style="font-size:small">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
      <li role="presentation" ><a href="showCsp">Dashboard</a></li>
              <li role="presentation" ><a href="showCspMachines">Machines</a></li>
            <li role="presentation" ><a href="showCspOrderHistory">Order History</a></li>
            <li role="presentation"><a href="showCspBilling">Billing</a></li>
            <li role="presentation" class="active"><a href="showCspProfile">Profile</a></li>
			    <li role="presentation" ><a href="showCspHelp">Help</a></li>
				<li role="presentation" ><a href="/">Logout</a></li>
          </ul>
        </nav>
        <h4 class="text-muted">CSP Dashboard</h4>
      </div>

      <div class="jumbotron">
        <h2> <b>Cloud Service Provider</b></h2>


          <div class="col-md-12">
		                    <h4>Your Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                     <form>
                        <div class="form-group row">
                            <label for="inputName" class="col-4 col-form-label">Name*</label>
                            <div class="col-8">
                                <input id="inputName" name="inputName" placeholder="name" class="form-control here" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail" class="col-4 col-form-label">Email*</label>
                            <div class="col-8">
                                <input id="inputEmail" name="inputEmail" placeholder="Email" class="form-control here" required="required" type="text" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputBankAccount" class="col-4 col-form-label">Bank Account Number</label>
                            <div class="col-8">
                                <input id="inputBankAccount" name="inputBankAccount" placeholder="Bank account number" class="form-control here" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-4 col-form-label">Password</label>
                            <div class="col-8">
                                <input id="inputPassword" name="inputPassword" placeholder="Password" class="form-control here" type="password">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button name="submit" type="button" id="updateProfile" class="btn btn-primary">Update My Profile</button>
                            </div>
                        </div>
                        <div class="updateSuccess">User profile update successful!</div>
                    </form>
		                </div>
		            </div>




      </div>
      <footer class="footer">
        <p>&copy; CMPE 226</p>
      </footer>
    </div>
  </body>
</html>