<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-3.3.1.js"></script>
    <script src="../static/js/orderHistory.js"></script>
</head>
<body>
<div class="container" style="font-size:small">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" ><a href="showCustomerAccountDisplay">Dashboard</a></li>
                <li role="presentation" ><a href="showMachines">Machines Rented</a></li>
                <li role="presentation" class="active"><a href="showOrderHistory">Order History</a></li>
                <li role="presentation"><a href="showBilling">Billing</a></li>
                <li role="presentation"><a href="showProfile">Profile</a></li>
                <li role="presentation" ><a href="showHelp">Help</a></li>
                <li role="presentation" ><a href="/">Logout</a></li>
            </ul>
        </nav>
        <h4 class="text-muted">Customer Dashboard</h4>
    </div>
    <div class="jumbotron">
        <table class="table table-bordered">
            <thead class = "table-dark">
            <tr>
                <th>Order_Id</th>
                <th>Order Start Date</th>
                <th>Number of Machines</th>
                <th>CPU_Cores</th>
                <th>RAM</th>
                <th>Disk Size</th>
                <th>Order End Date</th>
            </tr>
            </thead>
            <tbody class="orderHistory">
            </tbody>
        </table>
    </div>
    <footer class="footer">
        <p>&copy; CMPE 226</p>
    </footer>
</div>
</body>
</html>